.nav{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items:center; 
    background-color:brown;
    background-image: url(/src/assets/img/pngwing.com\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 7% auto;
    background-position-x: 4%;
    background-position-y: 50%;
    box-shadow: 2px 2px 10px black, 0 0 1em blue, 0 0 1em yellow;
    width: 95%;
    height: 7em;
    border: ridge #fbe4f2 5px;
    border-radius: 15px;
    top: 1%;

    color:white;
 }

 .contenedor {
    display: flex;
    justify-content:center;
    align-items:center; 
    background-color: transparent;
    height: 30px;
    position: fixed;
    left: 15%;
}