.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border:ridge #fbe4f2 5px;
    border-radius: 2em;
    background-color: #1f5cb2;
    width: 20em;
    height: 30em;
    flex-direction: column;
    padding: 1em;
    margin: 2em;
    box-shadow: rgba(216, 216, 216, 0.24) 0px 3px 8px;
}

.container img {
     width: 70%;
}

.container button {
    border: solid red;
    border-radius: 0.5em;
    transition: transform 0.3s ease;
    font-size: 1em;
    color: rgb(43, 43, 43);
}

.container button:hover {
    transform: scale(1.3);
}