*{
  margin: 0;
  padding: 0;
 
  box-sizing: border-box;
  background-color: transparent
}
.slider {
  height: 210px;
  width: 100%;
  padding: 5px;
  margin: auto;
  position: relative;
  display: grid;
  justify-content: center;
  background-color: blueviolet;
  overflow: hidden;
}

.slideTrack {
  display: flex;
  width: 100%;
  animation: scroll 30s linear infinite;
}

.slideTrack:hover {
  animation-play-state: paused;
}

.slide {
  width: 180px;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}

img {
  width: 100%;
  transition: transform 1s;
}

img:hover {
  transform: translateZ(20px);
}

.slide::before,
.slide::after {
  /* background: scroll; */
  background: linear-gradient(to rigth rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  width: 15%;
  /* position: absolute; */
  z-index: 2;
}

.slide::before {
  left: 10px;
  top: 10px;
}

.slide::after {
  right: 10px;
  top: 10px;
  transform: rotateZ(200deg);
}