*{
  margin: 0;
  padding: 0;
  background-color: transparent
}


.container{
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  height: 100%;
  margin-top: 8em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  /* background-image: url(../../assets/img/0NhgE3O.png); */
}

.tarjetas{
  /* border: none; */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding-top: 2m;
  height:fit-content;
  border:ridge #fbe4f2 5px;
  background-color: rgba(11, 87, 122, 0.671);
}

.slider{
  /* display: flex; */
  /* position: relative; */
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  width: 100%;
  height: 200px;

}

